@font-face {font-family: "townpress-icons";src: url("../fonts/townpress-icons.eot?lgzk6j");src: url("../fonts/townpress-icons.eot?lgzk6j#iefix") format("embedded-opentype"),url("../fonts/townpress-icons.ttf?lgzk6j") format("truetype"),url("../fonts/townpress-icons.woff?lgzk6j") format("woff"),url("../fonts/townpress-icons.svg?lgzk6j#townpress-icons") format("svg");font-weight: normal;font-style: normal;}
[class^="icon-"], [class*=" icon-"] {font-family: "townpress-icons" !important;speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.icon-user:before {content: "";}
.icon-check:before {content: "";}
.icon-close:before {content: "";}
.icon-file-o:before {content: "";}
.icon-chevron-left:before {content: "";}
.icon-chevron-right:before {content: "";}
.icon-check-circle:before {content: "";}
.icon-info-circle:before {content: "";}
.icon-exclamation-circle:before {content: "";}
.icon-chevron-up:before {content: "";}
.icon-chevron-down:before {content: "";}
.icon-fax:before {content: "";}
.icon-phone:before {content: "";}
.icon-users:before {content: "";}
.icon-chain:before {content: "";}
.icon-link:before {content: "";}
.icon-envelope2:before {content: "";}
.icon-file-text-o:before {content: "";}
.icon-angle-left:before {content: "";}
.icon-angle-right:before {content: "";}
.icon-angle-up:before {content: "";}
.icon-angle-down:before {content: "";}
.icon-file-pdf-o:before {content: "";}
.icon-file-word-o:before {content: "";}
.icon-file-excel-o:before {content: "";}
.icon-file-powerpoint-o:before {content: "";}
.icon-file-image-o:before {content: "";}
.icon-file-archive-o:before {content: "";}
.icon-file-audio-o:before {content: "";}
.icon-file-movie-o:before {content: "";}
.icon-file-code-o:before {content: "";}
.icon-plane:before {content: "";}
.icon-text-align-left:before {content: "";}
.icon-at-sign:before {content: "";}
.icon-boat:before {content: "";}
.icon-book:before {content: "";}
.icon-briefcase:before {content: "";}
.icon-building:before {content: "";}
.icon-graph:before {content: "";}
.icon-calendar-full:before {content: "";}
.icon-camera2:before {content: "";}
.icon-car:before {content: "";}
.icon-bubble:before {content: "";}
.icon-bubbles:before {content: "";}
.icon-clapboard-play:before {content: "";}
.icon-clock2:before {content: "";}
.icon-cross:before {content: "";}
.icon-cloud:before {content: "";}
.icon-cog:before {content: "";}
.icon-cog2:before {content: "";}
.icon-contacts:before {content: "";}
.icon-reading2:before {content: "";}
.icon-reading:before {content: "";}
.icon-book2:before {content: "";}
.icon-book3:before {content: "";}
.icon-book4:before {content: "";}
.icon-bookmark:before {content: "";}
.icon-cloud-sun:before {content: "";}
.icon-cloud-fog:before {content: "";}
.icon-cloud-rain:before {content: "";}
.icon-cloud-snow:before {content: "";}
.icon-cloud-lightning:before {content: "";}
.icon-diamond:before {content: "";}
.icon-road-sign:before {content: "";}
.icon-envelope:before {content: "";}
.icon-file:before {content: "";}
.icon-papers:before {content: "";}
.icon-fire:before {content: "";}
.icon-archive:before {content: "";}
.icon-bread:before {content: "";}
.icon-cheese:before {content: "";}
.icon-cherry:before {content: "";}
.icon-greek-column:before {content: "";}
.icon-image:before {content: "";}
.icon-key:before {content: "";}
.icon-list4:before {content: "";}
.icon-earth:before {content: "";}
.icon-map2:before {content: "";}
.icon-map-marker:before {content: "";}
.icon-lock:before {content: "";}
.icon-magnifier:before {content: "";}
.icon-man-woman:before {content: "";}
.icon-modules:before {content: "";}
.icon-music-note2:before {content: "";}
.icon-leaf:before {content: "";}
.icon-pine-tree:before {content: "";}
.icon-menu:before {content: "";}
.icon-brush:before {content: "";}
.icon-document:before {content: "";}
.icon-pen-brush:before {content: "";}
.icon-pencil:before {content: "";}
.icon-pencil-ruler:before {content: "";}
.icon-telephone:before {content: "";}
.icon-pictures:before {content: "";}
.icon-picture:before {content: "";}
.icon-home:before {content: "";}
.icon-home2:before {content: "";}
.icon-park:before {content: "";}
.icon-power-switch:before {content: "";}
.icon-reply:before {content: "";}
.icon-planet:before {content: "";}
.icon-road:before {content: "";}
.icon-ruler:before {content: "";}
.icon-lifebuoy:before {content: "";}
.icon-bullhorn:before {content: "";}
.icon-shield:before {content: "";}
.icon-truck:before {content: "";}
.icon-smile:before {content: "";}
.icon-rocket:before {content: "";}
.icon-basketball:before {content: "";}
.icon-dumbbell:before {content: "";}
.icon-football-field:before {content: "";}
.icon-soccer:before {content: "";}
.icon-tennis2:before {content: "";}
.icon-sun:before {content: "";}
.icon-tag:before {content: "";}
.icon-library2:before {content: "";}
.icon-traffic-lights:before {content: "";}
.icon-train:before {content: "";}
.icon-travel-bag:before {content: "";}
.icon-teacup:before {content: "";}
.icon-flag:before {content: "";}
.icon-thumbs-down:before {content: "";}
.icon-thumbs-up:before {content: "";}
.icon-window:before {content: "";}
.icon-text:before {content: "";}
.icon-envelope-o:before {content: "";}
.icon-twitter:before {content: "";}
.icon-facebook:before {content: "";}
.icon-github:before {content: "";}
.icon-pinterest:before {content: "";}
.icon-google-plus:before {content: "";}
.icon-linkedin:before {content: "";}
.icon-youtube:before {content: "";}
.icon-dropbox:before {content: "";}
.icon-instagram:before {content: "";}
.icon-flickr:before {content: "";}
.icon-tumblr:before {content: "";}
.icon-dribbble:before {content: "";}
.icon-skype:before {content: "";}
.icon-foursquare:before {content: "";}
.icon-vk:before {content: "";}
.icon-slack:before {content: "";}
.icon-yahoo:before {content: "";}
.icon-reddit:before {content: "";}
.icon-behance:before {content: "";}
.icon-deviantart:before {content: "";}
.icon-codepen:before {content: "";}
.icon-qq:before {content: "";}
.icon-twitch:before {content: "";}
.icon-yelp:before {content: "";}
.icon-lastfm:before {content: "";}
.icon-tripadvisor:before {content: "";}
.icon-odnoklassniki:before {content: "";}
.icon-500px:before {content: "";}
.icon-vimeo:before {content: "";}
.icon-snapchat:before {content: "";}
.icon-bandcamp:before {content: "";}
.icon-etsy:before {content: "";}